:root  {
--main--color:#ff9800;
}
*{
 box-sizing: border-box;
}
body {
 font-family: 'Open Sans', sans-serif;
}
/* start settings box */
.settings-box {
position: fixed;
left: -200px;
top: 0;
background: #fff;
z-index: 1000;
width: 200px;
min-height: 100vh;
transition: .3s;
}
.settings-box .toggel-setting {
position: absolute;
background-color: #fff;
right:-30px;
padding: 8px 0px;
width: 30px;
text-align: center;
top: 100px;
cursor: pointer;
}
.settings-box.open{
 left: 0;
}

.settings-box .option-box{
padding: 10px;
text-align: center;
background-color: #eee;
margin: 10px;
}
.settings-box .option-box h4{
margin: 0;
color:#666;
font-size: 14px;
}
.settings-box .option-box .colors-list{
list-style: none;
text-align: center;
padding: 0;
margin: 10px 0 0;
}
.settings-box .option-box .colors-list li{
width: 24px;
height: 24px;
border-radius: 50%;
cursor: pointer;
border: 3px solid #eee;
display: inline-block;
}
.settings-box .option-box .colors-list li.active {
 border-color:  #fff;
}
.settings-box .option-box .colors-list li:first-child {
 background-color: #ff9800;
}
.settings-box .option-box .colors-list li:nth-child(2) {
 background-color: rgb(204, 50, 50);
}
.settings-box .option-box .colors-list li:nth-child(3) {
 background-color: rgb(85, 85, 199);
}
.settings-box .option-box .colors-list li:nth-child(4) {
 background-color: rgb(29, 205, 29);
}
.settings-box .option-box .colors-list li:nth-child(5) {
 background-color: rgb(16, 10, 10); 
}
.settings-box .option-box .Yes,
.settings-box .option-box .No{
width: 50px;
background-color:var(--main--color);
color: #fff;
margin-top: 10px;
display: inline-block;
font-size: 12px;
font-weight: bold;
padding: 4px 10px;
border-radius: 4px;
opacity: .5;
cursor: pointer;
}
.settings-box .option-box  span.active{
 opacity: 1;
}
.reset-options{
  background-color: rgb(223 43 43);
  border: none;
  width: 178px;
  margin: 10px auto;
  display: block;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
/* end settings box*/
/* start nav bullets */
.nav-bullets {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  z-index: 1000;
  }
  .nav-bullets .bullet{
    width: 20px;
    height: 20px;
    border: 3px solid var(--main--color);
    margin: 20px auto;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
  }
  .nav-bullets .bullet .toolti{
    background-color: var(--main--color);
    width: 120px;
    color: #fff;
    padding: 8px 10px;
    position: absolute;
    right: 32px;
    top: -10px;
    margin-bottom: 20px;
    text-align: center;
    cursor: default;
    pointer-events: none;
    display: none;
  }
  .nav-bullets .bullet .toolti:before {
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent var(--main--color);
    position: absolute;
    right:-20px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
  }
  .nav-bullets .bullet:hover .toolti{
    display: block;
  } 
/* end nav bullets */
/* start landing page */
.landing-page {
min-height: 100vh;
background-image: url(../images/001.jpeg);
background-size: cover;
position: relative;
}
.landing-page .overlay{
 background-color: #0000005c;
 position: absolute;
 width: 100%;
 height: 100%;
left: 0;
top: 0;
z-index: 1;
}
.header-area{
  width: 100%;
 position: fixed;
 z-index: 2;
 color: #fff;
 display: flex;
 background-color: #fff;
 box-shadow: 0 2px 4px rgba(0,0,0,.1), 0 4px 12px rgba(0,0,0,.08);
 height: 70px;
}
.header-area .logo{
 width: 300px;
 padding: 15px;
 margin-left: 50px;
 margin-top: 0;
}
.links-container{
  width: 100%;
  text-align: right;
  margin-right: 50px;
}
.header-area .links{
list-style: none;
padding-left: 0;
}
.header-area .links li{
 display: inline-block;
 padding: 10px;
 }
 .header-area .links li a{
  color: #000;
  text-decoration: none;
  transition: .3s;
 }
 .header-area .links li a:hover{
  color: orange;
 }
 .header-area .toggle-menu {
 background: none;
 border: none;
 width: 40px;
 cursor: pointer;
 margin-top: 25px;
 position: relative;

 }
 .header-area .toggle-menu span {
   display: block;
   background-color: #000;
   height: 3px;
   margin-bottom: 4px;
}

@media(max-width:1018px){
.header-area .links{
  display: none;
}
.header-area .links.open{
  background-color: #fff;
  width: 50%;
  text-align: left;
  top: 30px;
  position: absolute;
  display: block;
  left: 50%;
  border-radius: 4px;
} 
.header-area .links.open li {
  display: block;
  border-bottom: 1px solid #666;
}
.header-area .links.open li a{
  color: var(--main--color);
  font-weight: bold;
}
.header-area .toggle-menu.menu-active:before{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 30%;
  bottom: -19px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  transform: translateY(-50%);
}
}
@media(min-width:1018px){
  .header-area .toggle-menu {
    display: none;
  }
  }
/* end landing page*/
/*start introduction-text*/
.introduction-text{
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%,-50%);
 color:white;
 z-index: 2;
 text-align: center;
 width: 95%;
}
.introduction-text h1{
font-size: 40px;
margin: 0 0 12px;
}
.introduction-text h1 span{
 color: var(--main--color);
}
.introduction-text p{
 line-height: 1.6;
 font-size: 23px;
 margin: 0;
}
@media(max-width:575px){
  .introduction-text h1{
    font-size: 27px;
  }
}

/* start about us */
.about-us {
padding-top: 50px;
padding-bottom: 50px;
display: flex;
}
.about-us .info-box {
flex: 1;
padding: 30px;
}
.about-us .info-box h2{
font-size: 30px;
font-weight: bold;
color: var(--main--color);
margin: 0 0 10px;
}
.about-us .info-box p{
 line-height: 1.8;
color: #777;
margin: 0;
}
.about-us .image-box{
flex: 1;
text-align: center;
}
@media(max-width:575px){
  .about-us{
   display: block;
   text-align: center;
  }
}
@media(max-width:767px){
  .about-us{
   display: block;
   text-align: center;
  }
}
/* end about us */
/* start our skills */
.our-skills{
 padding-top: 50px;
 padding-bottom: 50px;
 background-color: #eee;
}
.our-skills h2{
 font-size: 30px;
font-weight: bold;
color: var(--main--color);
margin: 0 0 50px;
text-align: center;
}
.our-skills .skill-box{
 background-color: #fff;
 margin-bottom: 15px;
 padding: 15px;
 display: flex;
}
.our-skills .skill-name{
font-weight: bold;
width: 140px;
text-align: center;
line-height: 30px;
}
.our-skills .skill-progress{
 height: 30px;
 width: calc(100% - 110px);
 background-color: #f3f1ed73;
 border-radius: 6px;
 position: relative;
 overflow: hidden;
}
.our-skills .skill-progress span{
 position: absolute;
 left: 0;
 top: 0;
 width: 0;
 height: 100%;
 text-align: center;
 color: #fff;
 font-weight: bold;
 font-size: 20px;
 background-color: var(--main--color);
 transition: all .5s;
}
@media(max-width:575px){
  .our-skills .skill-box{
  display: block;
}
}
@media(max-width:767px){
  .our-skills .skill-box{
  display: block;
}
}
@media(max-width:575px){
.our-skills .skill-name{
width: 100%;
  text-align: center;
  margin-bottom: 10px;
  }
 
}
@media(max-width:767px){
  .our-skills .skill-name{
  width: 100%;
    text-align: center;
    margin-bottom: 10px;
    }
  }
/* end our skills */
/* start our galary*/
.galary{
 padding-top: 50px;
 padding-bottom: 50px;
 padding-left: 20px;
 background-color: rgb(5 11 25);
}
.galary h2{
 font-size: 30px;
font-weight: bold;
color: #fff;
margin: 0 0 50px;
text-align: center;
}
.galary .g7{
  padding: 20px;
  width: 310px;
  margin-bottom: 20px;
  border-radius: 10px 20px;
  display: inline-block;
  margin-left: 20px;
  overflow: hidden;
  height: 600px;
 }
 .galary .g7 h2{
  font-weight: bold;
  width: 100%;
  text-align: center;
  color: #cfb6b6;
  border: 2px dashed #4653ba;
  background-color: #355a8175;
  width: 200px;
  margin: 0 auto 30px auto;
  border-radius: 20px 40px;
 }
 .galary .g7 img{
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
 }
 .galary .g7 img:hover{
   transform: scale(1.1) rotate(2deg);
 }
 .galary .g7 p{
  line-height: 1.6;
  margin: 0;
  color: #fff;
 }
 .galary .g1{
  background-color:#141f32;
 }
 .galary .g2{
  background-color: #212724c2;
 }
 .galary .g3{
  background-color: #0c1e45d4;
 }
 .galary .g4{
  background-color: #5b383817;
 }
 .galary .g5{
  background-color: #36868145;
 }
 .galary .g6{
  background-color: #def40b14;
 }
 .galary .g7:hover{
  border: 2px dashed rgb(103, 60, 60);
 }
 
/* end our galary */

.popup-overlay{
 position: fixed;
 background-color: rgba(0, 0 ,0, .7);
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 1000;
}
.popup-box{
 position: fixed;
 left: 50%;
 top: 50%;
 transform: translate(-50% ,-50%);
 background-color: #fff;
 border: 1px solid #ccc;
 padding: 20px;
 z-index: 1001;
}
.popup-box h3 {
 font-weight: bold;
 color: var(--main--color);
 margin: 0 0 20px;
 text-align: center;
}
.popup-box img {
 max-width: 100%;
}
.close-button{
 position: absolute;
 top: -15px;
 right: -15px;
 background-color: var(--main--color);
 width: 40px;
 height: 40px;
 line-height: 40px;
 font-size: 20px;
 color: #fff;
 text-align: center;
 cursor: pointer;
 font-weight: bold;
 font-family: Arial,Tahoma;
}

/* start timeline */
.timeline{
 padding-top: 50px;
 padding-bottom: 50px;
 background-color: #d3e3ea;
}
.timeline h2{
  font-size: 30px;
  font-weight: bold;
  color: var(--main--color);
  margin: 0 0 50px;
  text-align: center;
 }
.timeline .timeline-content{
 position: relative;
 overflow: hidden;

}
.timeline .timeline-content::before{
 content: '';
 position: absolute;
 width: 2px;
 height: 100%;
 background-color: var(--main--color);
 left: 50%;
 top: 0;
 margin-left: -1px;
}
.timeline .timeline-content .year{
 margin: 20px auto;
 width: 100px;
  background-color: var(--main--color);
  text-align: center;
  border-radius: 4px;
  z-index: 0;
  position: relative;
  padding: 2px 5px;
  font-weight: bold;
  color: #fff;
}
.timeline .timeline-content .left,
.timeline .timeline-content .right{
 width: calc(50% - 25px);
 margin-bottom: 40px;
 position: relative;
}
@media(max-width:767px){
  .timeline .timeline-content .left,
.timeline .timeline-content .right{
  width: 100%;
  margin-bottom: 20px;
}
.timeline .timeline-content .right::before,
.timeline .timeline-content .left::before{
  display: none;
}
}
.timeline .timeline-content .left{
 float: left;
}
.timeline .timeline-content .left::before{
 content: '';
 width: 14px;
 height: 14px;
 border-radius: 50%;
 background-color: #fff;
 border: 3px solid var(--main--color);
 position: absolute;
 right: -35px;
 top: 20px;
}
.timeline .timeline-content .right{
 float: right;
}
.timeline .timeline-content .right::before{
 content: '';
 width: 14px;
 height: 14px;
 border-radius: 50%;
 background-color: #fff;
 border: 3px solid var(--main--color);
 position: absolute;
 left: -35px;
 top: 20px;
}
.timeline .timeline-content .content{
 padding: 20px;
 background-color: #c6dce5;
}
.timeline .timeline-content .content h3{
 font-weight: bold;
 color: var(--main--color);
 margin: 0 0 30px;
 text-align: center;
}
.timeline .timeline-content .content p{
 color: #595d54;
 margin: 0;
 line-height: 1.7;
}
.clearfix{
 clear: both;
}
.timeline .timeline-content .left .content::before{
 content: '';
 border-style: solid;
 border-width: 10px;
 border-color: transparent transparent transparent #a1b6be;
 width: 0;
 height: 0;
 right: -20px;
 top: 20px;
 position: absolute;
}
.timeline .timeline-content .right .content::before{
 content: '';
 border-style: solid;
 border-width: 10px;
 border-color: transparent #a1b6be transparent transparent;
 width: 0;
 height: 0;
 left: -20px;
 top: 20px;
 position: absolute;
}
/* end timeline */
/*feature*/
.feature{
 padding-top: 80px;
 padding-bottom: 80px;
 background-color: #c2dae5;
}
.feature h2{
 font-size: 30px;
 font-weight: bold;
 color: var(--main--color);
 margin: 0 0 50px;
 text-align: center;
}
.feature .feat-box{
 width:calc(100%/3 - 20px);
 float: left;
 margin-bottom: 40px;
 text-align: center;
 height: 330px;
 margin-top: 0;
}
.feature .feat-box img{
 width: 96px;
 height: 96px;
 background-color: #eee;
 border-radius: 50%;
 border: 2px solid #e4cfcf;
 margin-top: 10px;
}
.feature .feat-box h4{
font-size: 20px;
margin: 15px 0 40px;
position: relative;
}
.feature .feat-box h4::before{
 content: '';
 width: 40px;
 height: 4px;
 position: absolute;
 left: 50%;
 background-color: var(--main--color);
 bottom: -22px;
 transform: translate(-50%,-50%);

}
.feature .feat-box p{
 width: 80%;
 color: #666;
 margin: 0 auto;
 line-height: 1.6;
}
.feature .feat-box:hover{
  border: 1px dashed rgb(123, 129, 204);
  border-radius: 4px;
  transform: scale(1.1) rotate(3deg);
  background-color: #6c77bb;
  color: #fff;
}
.feature .feat-box:hover p{
  color: #fff;
}
@media(max-width:991px){
  .feature .feat-box{
    width:calc(100%/2);
  }
  @media(max-width:575px){
    .feature .feat-box{
      width:100%;
    }
}
}

 /* start contact us */
.contact {
  min-height: 600px;
  background-image: url('../images/contactus.jpg');
 background-size: cover;
 padding-top: 80px;
 padding-bottom: 80px;
 position: relative;
 z-index: 0;
}
.contact .overlay {
position: absolute;
padding-top: 50px;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgb(255 255 255 / 86%);
}
.contact .container{
  position: relative;
  z-index: 2;
}
.contact h2{
  font-size: 30px;
 font-weight: bold;
 color: var(--main--color);
 margin: 0 0 60px;
 text-align: center;
}
.contact form{
display: flex;
max-width: 800px;
margin: auto;
}
@media(max-width:767px){
  .contact form {
    display: block;
    }
    .contact form .left,
    .contact form .right {
      width: 98%;
    }
}
.contact form .left{
width: 49%;
text-align: center;
margin-right: 1%;
}
.contact form input:not([type="submit"]),
.contact form textarea{
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #77777721;
}
.contact form .right{
  width: 49%;
  margin-left: 1%;
}
.contact form input:not([type="submit"]):focus,
.contact form textarea:focus{
  outline: 1px solid var(--main--color);
}
@media(max-width:767px){
    .contact form .left,
    .contact form .right {
      width: 98%;
    }
}
.contact form input{
  height: 40px;
}
.contact form textarea{
  height: 150px;
}
.contact form input[type="submit"]{
  padding: 10px;
  width: 100%;
  border-color: transparent;
  background-color: var(--main--color);
  color: #fff;
  cursor: pointer;
}
.contact form textarea:focus::-webkit-input-placeholder,
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder{
  opacity: 0;
  transition: .3s;
}
 /* end contact us  */
 /* start grid system */
@media(min-width:576px ){
.container{
   max-width: 540px;
}
}
 @media(min-width:768px ){
    .container{
       max-width: 720px;
    }
    }
 @media(min-width:992px ){
   .container{
    max-width: 960px;
    }
   }
 @media(min-width:1200px ){
    .container{
       max-width: 1140px;
    }
    }

 /* end grid system */
  /*fotter */
  
  footer{
    background-color: rgb(28, 25, 25);
    width: 100%;
    margin-top: 20px;
    padding: 50px;
    text-align: center;
    }
    footer h2 i{
       margin-left: 30px;
       margin-bottom: 20px;
       color: #fff;
    }
    footer h2 i:hover{
      color: rgb(78, 78, 204);
    }
    footer .methank{
       color: rgb(217, 190, 190);
       font-size: 30px;
    }
    footer .methank i{
       color: red;
       margin: 0 5px;
    }
    
